@media screen {
   
    
    header{
        font-size: 32px;
        column-span: all;
    }

    h1{
        display: block;
        font-size: 26px;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: normal;
        column-span: all;

    }

    body {
        background-image: url("https://www.logolynx.com/images/logolynx/69/695543dc9beace3806cc4582ee304c91.png");
        background-color: rgb(238, 238, 238);

        /* Full height */
        height:100%;
      
        /* Center and scale the image nicely */
        position: absolute;
        bottom: 0;  
        background-repeat: no-repeat;
        background-position: right 30px;
        font-size: 22px;       
      }

      .pokemonlist{
        font-size: 18px;
        column-count: 4;
        column-span: all;
        column-gap: 20px; 
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .flash{
        font-size: 16px;
        width: 600px;
        padding: 5px;
        font-weight: bold;
        margin: 20px;
        background:#ddd;
        color:#666;border:1px solid #ccc;
      }

      footer{
        width: 100%;
        height: 28px;
        border-top: 1px solid #E0E0E0;
        position: sticky;
        bottom: 0px; 
        left: 0px; 
        text-align: center;
    }

    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    
}