<h1><%= current_user_email %></h1>
Here is a list of your playlists: 


<br>
Playlist Name:
<%= user_profile_page %>

<%= button_to "View", playlist_playlist_songs_path(profile_view_from_profile), method: :get%>




<%= render partial: "buttons" %>

