<h1><%= current_user_email %></h1>
Here is a list of your playlists: 


<br>
Playlist Name:
<br>

<%= user_profile_page %><br>

<br>

<% if current_user %>
    <%= button_to 'Delete Account', @user, method: :delete, :confirm => "Are you sure?" %><br>
<% end %>



<%= render partial: "buttons" %>

