<h1>All Playlists:</h1>

<% @playlists.each do |playlist| %>
    <p> <%@user = all_users.find_by_id(playlist.user_id)%>

        <li>Title:<%= link_to playlist.name, playlist_path(playlist) %> <br>
        Artist:<%= find_user(playlist.user_id).email %> 
    </p>
<% end %>





<%= render partial: "users/buttons" %>