<h1>All Playlists:</h1>

<% @playlists.each do |playlist| %>
    <p>
        <li>Title:<%= playlist.name %> Artist:<%= playlist.user.email %> 

            <%= link_to "View", playlist, method: :show %></li>

    </p>
<% end %>

<%= render partial: "users/buttons" %>