 Your Profile!!

<% if @playlist.user_id = current_user.id%>
<% @playlist.songs.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>
<% end %>