      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-right">
                    <%= button_to "Home",    '/profile', method: :get %>
                    
                    <%= button_to "Log Out",    '/logout', method: :get %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>